# To add a quest
# to boolean conditions just use 1 for true and 0 for false
# ID:banner_name:title_long:desc_long:title_short:desc_short:has_reward:id_reward:is_tutorial:has_progression:progression_count:progression_goal:is_active

# Quests
0:Welcome to a new world !:Finsih the tutorial:You will learn how to attack:Finish the tutorial:Kill 5 slimes:1:1:1:1:0:5:1