# [NOT DELETE]
# Config file for items

# [INFO - README]
# the sprite_name is the name of the sprite file in the folder "assets/items"
# if there is no sprite, put "none.png"
# if the program does not find the sprite, it will put a default sprite ("none.png")
# System of config file:
# IMPORTANT : Amounts are disabled for now, so put 1 for the amount_max
# item_name:type:value:amount_max:id:sprite_name:price

# [ATTACK ITEMS]
wood_sword:attack:10:1:001:none.png:10
iron_sword:attack:20:1:002:iron_sword.png:20
gold_sword:attack:30:1:003:none.png:30
crystal_sword:attack:40:1:004:none.png:40

# [FOOD ITEMS]
apple:food:5:64:005:none.png:1
bread:food:10:64:006:none.png:2
fish:food:15:64:007:none.png:5
meat:food:20:64:008:none.png:10

# [HEALTH ITEMS]
potion:health:50:10:010:none.png:15

# [ARMOR ITEMS]
leather_armor:armor:10:1:012:none.png:10
iron_armor:armor:20:1:013:none.png:25
gold_armor:armor:30:1:014:none.png:50
diamond_armor:armor:40:1:015:none.png:100

# [MAGIC ITEMS]
fireball:magic:10:1:016:none.png:150
thunder:magic:20:1:017:none.png:200

# [IDLE ITEMS]
# A voir par la suite