# [NOT DELETE]
# Config file for items

# [INFO - README]
# the sprite_name is the name of the sprite file in the folder "assets/items"
# if there is no sprite, put "none.png"
# if the program does not find the sprite, it will put a default sprite ("none.png")
# System of config file:
# item_name:type:value:amount_max:id:sprite_name

# [ATTACK ITEMS]
wood_sword:attack:10:1:001:none.png
iron_sword:attack:20:1:002:none.png
gold_sword:attack:30:1:003:none.png
diamond_sword:attack:40:1:004:none.png

# [FOOD ITEMS]
apple:food:10:64:005:none.png
bread:food:20:64:006:none.png
fish:food:25:64:007:none.png
meat:food:30:64:008:none.png

# [HEALTH ITEMS]
bandage:health:10:20:009:none.png
potion:health:50:10:010:none.png
heal_kit:health:200:1:011:none.png

# [ARMOR ITEMS]
leather_armor:armor:10:1:012:none.png
iron_armor:armor:20:1:013:none.png
gold_armor:armor:30:1:014:none.png
diamond_armor:armor:40:1:015:none.png

# [MAGIC ITEMS]
fireball:magic:10:1:016:none.png
thunder:magic:20:1:017:none.png
ice:magic:30:1:018:none.png
earth:magic:40:1:019:none.png

# [IDLE ITEMS]
# A voir par la suite